<h1>Boards Index</h1>
<a href="#api/boards/new">Create New Board</a>
<br>
<br>
<ul>
  <% boards.forEach(function(board) { %>
    <li><a href="#api/boards/<%= board.id %>"><%= board.escape('title') %></a></li>
    <% }) %>
</ul>
