<a href="#">Back to all Boards (board show view)</a>
<h1><%= board.escape('title') %></h1>
<section class="lists"></section>
<section class="new-list"></section>
<button class="delete-board">Delete this Board</button>
