<form class="new-list">
  <label for="title">Title</label>
  <input id="title" type="text" name="title">


  <input type="hidden" name="board_id" value="<%= this.board.id %>">


  <input type="hidden" name="ord" value="0">


  <button>Create List</button>
</form>
